.text-700 {
  font-weight: 700;
}

.dashboard-table {
  margin-top: 7rem;
  width: 3000px !important;
  font-size: 13px !important;
  .user-id-col {
    width: 6rem !important;
  }
  .thead-status-cell {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    .dropdown .dropdown-toggle {
      padding: 0px;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }
  }
  tr {
    td {
      padding: 0px;
      height: 60px;
      width: 200px !important;
      vertical-align: middle;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }
    th {
      padding: 0px;
      width: 200px !important
    }
  }
  thead {
    background-color: #E5E5E5;
    th div.thead-cell, div.thead-status-cell {
      display: flex;
      flex: 1;
      border-right: 1px solid #BBC0C4;
      width: 100%;
      padding: 1rem 0.7rem;
      margin-left: 1px;
    }
    tr th:last-child div {
      border-right: 0px !important;
    }
  }
  tbody {
    tr td:last-child {
      border-right: 0px !important;
    }
    tr td {
      border-right: 1px solid #BBC0C4;
      div.review-button u {
        &:hover {
          cursor: pointer;
        }
      }
    }
    tr:nth-child(even) {
      background-color: #F2F2F2;
    }
    .client-cell {
      display: flex;
      align-items: center;
      .client-name {
        font-size: 14px;
      }
      .detail-button {
        margin-left: auto;
        padding: 0.7rem;
        margin-right: -0.7rem;
        // background-color: red;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.KYC-modal {
  .face-kyc-container {
    text-align: center;
    .img-kyc {
      width: auto;
      height: 200px;
      max-width: 200px;
    }
  }
  .id-kyc-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    text-align: center;
  }
  .img-kyc {
    max-width: 90%;
    width: auto;
    height: 130px;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}
