@import "~bootstrap/scss/bootstrap";

.header-dashboard {
  height: 6rem;
  width: 100%;
  top: 0;
  background-color: #417690;
  color: white;
  padding: 1rem;
  h2 {
    margin: 0px !important;
    a {
      color: white;
      text-decoration: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}